#{extends "main.html" /}
#{set title: "Account Settings" /}
#{set account_active: "active" /}

#{if !currentUser.emailAddress}
<div class="alert alert-warning">
	<h4 class="alert-heading">You have not set your email address!</h4>
	We were unable to determine your email address from your OpenID provider.
	We need to know your email address as a point of contact. Dont worry, we wont
	spam you, any emails sent to the address you supply will only relate to
	your account. Please go <a href="@{Account.details}">here</a> to
	set your email address.
</div>	
#{/if}
<div class="d-flex flex-nowrap">
	<div class="d-flex flex-column flex-shrink-0 p-3">
		<ul class="nav nav-pills flex-column mb-auto" style="margin-top: 50px;">
			<li class="nav-item">
				<a class="nav-link border-bottom #{if (active == 'plans')}active#{/if}" href="@{Account.plans}">
					Plans
					<i class="carousel-control-next-icon float-end"></i>
				</a>
			</li>
			<li  class="nav-item" >
				<a class="nav-link border-bottom #{if (active == 'invoices')}active#{/if}	" href="@{Account.invoices}">
					Invoices
					<i class="carousel-control-next-icon float-end"></i>
				</a>
			</li>
			<li  class="nav-item" >
				<a class="nav-link border-bottom #{if (active == 'details')}active#{/if}" href="@{Account.details}">
					Account Details
					<i class="carousel-control-next-icon float-end"></i>
				</a>
			</li>
			<li class="nav-item" >
				<a class="nav-link border-bottom #{if (active == 'settings')}active#{/if}" href="@{Account.settings}">
					Settings
					<i class="carousel-control-next-icon float-end"></i>
				</a>
			</li>
			<li class="nav-item" >
				<a class="nav-link border-bottom #{if (active == 'api')}active#{/if}" href="@{Account.api}">
					API
					<i class="carousel-control-next-icon float-end"></i>
				</a>
			</li>	
		</ul>		
	</div>
	<div class="d-flex flex-column">#{doLayout /}</div>
</div>